body {
    background-color: #f6f5f5;
    margin-right: 5px;
    padding: 5px;
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: ffffff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 5px 5%;
}


/* Estilo Navegador */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    /* background-color: #ffffff; */
    box-shadow: 2px 2xp 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}

nav ul {
    display: flex;


}

nav ul li a {
    margin: 30px;

    font-family: Arial, Helvetica, sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight: 700;

}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(27, 2, 2);
    font-size: 22px;

}

.active {
    /* font-weight: bold;
    color: brown; */
}


.conteudo-texto p:nth-child(1) {
    font-family: calibri;
    font-weight: bold;
    color: #0b167e;
    font-size: 30px;



}

.conteudo-texto p:nth-child(2) {
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #0b167e;
    font-size: 45px;
}

.conteudo-texto p:nth-child(3) {
    font-family: calibri;
    font-weight: bold;
    color: #0b167e;
    font-size: 30px;
    line-height: 25px;
}

.conteudo-texto {
    line-height: 0px;
    margin: 45px 0px 25px;


}

.conteudo-texto {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

/*Button?*/

/*Estilo da imagem*/

.imgbg {
    height: 500px;
    position: absolute;
    bottom: 70px;
    left: 90%;
    transform: translateX(-70%);
}



/* .btn1
{
    width: 100px;
    height: 35px;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
    border: 3px solid #373636;
}

button:active
{
    transform: scale(1.1);
} */

/*Estilo da imagem de fundo banner*/



/*Configurações aba projetos*/

.projetos-imgbg {
    height: 550px;
    position: absolute;
    bottom: px;
    left: 88%;
    transform: translateX(-70%);

}

.conteudo-texto-projetos p:nth-child(1) {
    font-family: calibri;
    font-weight: bold;
    color: #0b167e;
    font-size: 45px;

}

.conteudo-texto-projetos p:nth-child(2) {
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #0b167e;
    font-size: 25px;

}

.conteudo-texto-projetos p:nth-child(3) {
    font-family: calibri;
    font-weight: bold;
    color: #0b167e;
    font-size: 25px;
    line-height: 25px;

}


.conteudo-texto-projetos p:nth-child(4) {
    font-family: calibri;
    font-weight: bold;
    color: #0b167e;
    font-size: 45px;
    line-height: 25px;

}

.conteudo-texto-projetos p:nth-child(5) {
    font-family: calibri;
    font-weight: bold;
    color: #0b167e;
    font-size: 25px;
    line-height: 25px;


}





.conteudo-texto-projetos {
    line-height: 0px;
    margin: 40px -20px 25px;


}

.conteudo-texto-projetos {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

/*Configurações aba formação*/

.conteudo-texto-formacao p:nth-child(1) {
    font-family: calibri;
    font-weight: bold;
    color: #0b167e;
    font-size: 45px;

}

.conteudo-texto-formacao p:nth-child(2) {
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #0b167e;
    font-size: 25px;

}

.conteudo-texto-formacao {
    line-height: 0px;
    margin: 40px -20px 25px;


}

.conteudo-texto-formacao {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

/*configurações aba sobre-mim*/

.conteudo-texto-sobre-mim p:nth-child(1) {
    font-family: calibri;
    font-weight: bold;
    color: #0b167e;
    font-size: 35px;

}

.conteudo-texto-sobre-mim p :nth-child(2) {
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #0b167e;
    font-size: 25px;

}

.conteudo-texto-sobre-mim {
    /* line-height: 0px; */
    margin: 40px -60px 25px;


}

.conteudo-texto-sobre-mim {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

/*configurações aba Contato*/



.contato {
    display: flex;
    justify-content: center;

}